# Byte-compiled / optimized / DLL files
__pycache__/
# IDE related files
.vscode

# Distribution / packaging
.Python
env/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/
/migrations